


h1 {
    font-family: "Alexandria", serif;
    text-align: center;
}




.stuffie {
    margin: 3em 4em;
    filter: drop-shadow(0 0 3px white) grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
    animation: shake 1.2s infinite steps(1);
}

.bunbun {
    margin-top: -1em;
}

@keyframes shake {
    0%, 100% {transform: rotate(-15deg);}
    50% {transform: rotate(15deg);}
}




.conveyor {
    position: absolute;
    top: 60%;
    width: 100vw;
    overflow: hidden;
}

.belt {
    display: flex;
    align-items: center;
    width: max-content;
    animation: moveBelt 10s infinite linear;
}

.belt img {
    width: 100px;
    height: 40%;
}


@keyframes moveBelt {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


#cart {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 10%;
}

@keyframes cartMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(500px);
    }
}