


/* UNIVERSAL PROPERTIES ------------------------------------------ */

* {
    box-sizing: border-box;
}

body {
    /* set background to smth */
    font-family: "Baloo 2", sans-serif;
    font-weight: 800;
    overflow: hidden;
}

main {
    overflow: hidden;
    position: absolute;
    top: 50%;            
    left: 50%;         
    transform: translate(-50%, -50%);

    width: 1200px;
    height: 750px;
    margin: 0;
}
  
h1, h2, p {
    margin: 0;
    padding: 0;
}
  
img {
    display: block;
    height: auto;
    max-width: 100%;
}





/* TITLE SCREEN ------------------------------------------ */

/* hides game initially */
#game-container {
    display: none;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

#title-screen {
    background-color: #9EF1F7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

#title-screen h1 {
    color: white;
    font-size: 5.5rem;
    line-height: 1em;
    
    position: absolute;
    top: 40%;
    right: 8%;
    width: auto;
    animation: waveY 2s ease-in-out infinite;
}

#start-button {
    position: absolute;
    bottom: 15%;
    right: 20%;
    z-index: 3;
}

.title-waves {
    position: absolute;
    bottom: 0;
    animation: waveY 2s ease-in-out infinite;
}

#title-capy {
    position: absolute;
    bottom: 3%;
    left: 7%;
    animation: waveY 2s ease-in-out infinite;
    animation-delay: 0.5s;
}

/* wave in front of capy */
#frontwave {
    position: absolute;
    bottom: -3%;
    z-index: 3;
}

@keyframes waveY {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}





/* TUTORIAL OVERLAY ------------------------------------------ */

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    z-index: 20;

    opacity: 0;
    transition: opacity 1s ease-in-out, display 2s ease;
}

.overlay article {
    background-color: #FFECDD;
    border-radius: 2em;
    box-shadow: 0 20px #F8A72D;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60vw;
    height: 70vh;
    padding: 20px;
}

/* --------------------------------- */

h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1em;
}

.overlay p {
    font-size: 1.2rem;
    line-height: 1.5em;
    padding: 2em 3em;
}

#close {
    font-size: 2rem;

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.hidden {
    display: none;
}




/* BACKGROUND ------------------------------------------ */

#background {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100vw;
}

#wave1, #wave2, #wave3, #wave4 {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.wave {
    animation: waveY 3s linear infinite;
}

#wave1 {
    z-index: 1;
    animation-delay: 1s;
}

#wave2 {
    z-index: 2;
    animation-delay: 0.5s;
}

#wave3 {
    z-index: 3;
    animation-delay: 3s;
}

#wave4 {
    z-index: 4;
    animation-delay: 2s;
}

@keyframes waveX {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}

#foreground {
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 5;
}





/* CAPYBARAS + TANGS ---------------------------------------- */

.capy {
    position: absolute;
}

#capy1, #capy2 {
    transition: transform 0.3s ease-in-out;
}

#capy1 {
    bottom: 45%;
    z-index: 1;
}

#capy2 {
    bottom: 24%;
    z-index: 3;
}

.capyswim {
    animation: capySwim 1s forwards;
}

@keyframes capySwim {
    from {
        transition: translateX(0);
    }
    to {
        transition: translateX(10px);
    }
}

/* --------------------------------- */

#tang1, #tang2 {
    position: absolute;
    right: 0;
}

#tang1 {
    bottom: 45%;
    z-index: 1; 
}

#tang2 {
    bottom: 22%;
    z-index: 3; 
}

.sparkles {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}

#sparkle1 {
    bottom: 30vh; 
}

/* #sparkle2 {
    top: -10px;  
    left: -10px;
} */





/* TEXT BOXES ------------------------------------------ */

#textbox {
    position: absolute;
    top: 10;            
    left: 50%;         
    transform: translate(-50%);
}

#text {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 4%; 
    left: 50%;         
    transform: translate(-50%);
    width: 100%;
}





/* FOOTER (PLAYER AREA) ------------------------------------------ */

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    width: 100%;
    z-index: 6;
}

button {
    background-color: #F8A72D;
    color: white;
    font-size: 2.5rem;
    border: none;
    border-radius: 15px;
    box-shadow: 0 20px #C67F14;

    outline: none;
    margin: auto;
    margin-bottom: 1.2em;
    padding: 0.7em 2em;
    cursor: pointer;
}

button:active {
    box-shadow: none;
    transform: translateY(20px);
}

#player1 {
    background-color: white;
    border: 10px solid #FF5C7F;
    border-radius: 1em;
    margin: 1rem 2rem;
    /* margin: 1em 2em -2em 2em; */
}

#player2 {
    background-color: white;
    border: 10px solid #FFE941;
    border-radius: 1em;
    margin: 1rem 2rem;
    /* margin: 1em 2em -2em 2em; */
}

#player1, #player2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container p {
    font-size: 2rem;
}

#player1 p {
    color: #FF5C7F;
}

#player2 p {
    color: #E9BC34;
}
